:root {
        --ic-brand-primary-darkened-5: #2F4266;
--ic-brand-primary-darkened-10: #2D3F61;
--ic-brand-primary-darkened-15: #2A3B5B;
--ic-brand-primary-lightened-5: #3B4E72;
--ic-brand-primary-lightened-10: #455779;
--ic-brand-primary-lightened-15: #4F6081;
--ic-brand-button--primary-bgd-darkened-5: #2F4266;
--ic-brand-button--primary-bgd-darkened-15: #2A3B5B;
--ic-brand-button--secondary-bgd-darkened-5: #638D61;
--ic-brand-button--secondary-bgd-darkened-15: #597E57;
--ic-brand-font-color-dark-lightened-15: #515151;
--ic-brand-font-color-dark-lightened-28: #6C6C6C;
--ic-link-color-darkened-10: #0C5190;
--ic-link-color-lightened-10: #2569A9;
--ic-brand-primary: #31456b;
--ic-brand-font-color-dark: #333;
--ic-link-color: #0D59A0;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #fff;
--ic-brand-button--secondary-bgd: #689466;
--ic-brand-button--secondary-text: #fff;
--ic-brand-global-nav-bgd: #31456b;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #31456b;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #e0b457;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #31456b;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_22630000000000001/attachments/4672350/OtterSpirtT.png');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: #ffffff;
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #002a4e;
--ic-brand-Login-body-bgd-image: url('https://instructure-uploads.s3.amazonaws.com/account_22630000000000001/attachments/1402/60d3d2d43f7231d99666dc894d0c8620.jpg');
--ic-brand-Login-body-bgd-shadow-color: #002a4e;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_22630000000000001/attachments/1413/CSUMB%20Logo%20White.png');
--ic-brand-Login-Content-bgd-color: #002a4e;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: #002a4e;
--ic-brand-Login-Content-inner-border: #002a4e;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #002a4e;
--ic-brand-Login-Content-password-text-color: #2b7e9f;
--ic-brand-Login-footer-link-color: #002a4e;
--ic-brand-Login-footer-link-color-hover: #002a4e;
--ic-brand-Login-instructure-logo: #002a4e;
--ic-brand-Login-custom-message: ;
--ic-brand-Discovery-custom-message: ;
--ic-brand-Registration-custom-message: ;
--ic-brand-Registration-parent-custom-message: ;
      }